<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Meadowlark Travel</title>
    </head>
    <body>
        <head>
            <img src="images/logo.png" alt="logo for meadowlark travel"/>
        </head>
        {{{body}}}
    </body>
</html>